<div class="product">
    <img src="/test.svg" alt="Product Preview" />
    <div class="main">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button>Visit</button>
    </div>
    <ul>
        <li>Aut, molestiae eveniet. Ut, eaque ea</li>
        <li>Sit autem quia dolorum</li>
        <li>Dignissimos ullam voluptatem nobis</li>
    </ul>
</div>