<div class="navbar">
    <div class="container">
        <img src="./logo.svg" alt="Logo">
        <div class="links">
            <a href="/" class="active">Main</a>
            <a>Terms</a>
            <a>Contact</a>
        </div>
    </div>
</div>