<div class="container" id="intro">
    <div class="intro">
        <h1>Lorem</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi consequuntur incidunt fugit qui neque veniam nemo, et, perspiciatis totam ad alias nam quam consectetur earum aspernatur. Rem quibusdam quidem inventore!</p>

        <div class="dropedown">
            <div id="drop-btn">Lorem mere ▼<img></div>
            <p id="drop-txt" class="collapsed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iste necessitatibus vel accusamus natus neque, nisi quidem exercitationem? Libero quis assumenda provident nihil sequi ea delectus, iste numquam ad non!</p>
        </div>

    </div>
</div>
