<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="description" content="Webpack template">
    <title>Webpack template</title>
</head>
<body>
    {{> navbar/navbar }}
    {{> intro/intro }}

    <div class="container">
        {{#repeat 5}}
            {{> product/product }}       
        {{/repeat}}
    </div>

    <div style="text-align: center; margin: 50px; text-transform: capitalize;">
        Simple website by <a href="https://hamzakhuswan.com">Hamza</a>
    </div>
</body>
</html>